.content {
  width: fit-content;
}
ul.events-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

ul.events-list li {
  display: flex;
  flex-direction: column;
}

ul.events-list li header {
  width: 100%;
  height: 240px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}

ul.events-list li strong {
  margin-top: 12px;
  font-size: 24px;
  color: #444;
}

div.filter-panel {
  margin-bottom: 50px;
}

ul.events-list header div {
  display: flex;
  flex-direction: row-reverse;
}

ul.notifications {
  list-style: none;
  margin-bottom: 20px;
}

ul.notifications li {
  font-size: 16px;
  line-height: 24px;
}

.logoutBtn {
  background-color: rgb(199, 39, 33);
  color: white;
  border: 2px solid white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 10px;
}

.logoutBtn:hover {
  background-color: rgb(250, 45, 90);
  color: white;
  border: 2px solid white;
  text-decoration: none;
}

.viewBtn {
  background-color: sandybrown;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.viewBtn a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  ul.events-list {
    grid-template-columns: 1fr;
  }
}
