label#thumbnail {
  margin-bottom: 20px;
  border: 1px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

label#thumbnail input {
  display: none;
}

label#thumbnail.has-thumbnail {
  border: 0;
}

label#thumbnail.has-thumbnail img {
  display: none;
}

.container > .event-validation {
  margin-top: 12px;
}

.container > .event-validation {
  margin-top: 12px;
}

.ev-details {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 20px;
}

.ev-picture {
  margin: 20px;
  max-height: 300px;
  max-width: 300px;
}

.ev-details p {
  margin: 0px 0.5em;
}

.ev-details a {
  color: white;
  background-color: #17a2b8;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin: 0px 15px;
}

.ev-details a:hover {
    text-decoration: none;
}

.outer-div {
  padding: 10px;
}

.btn-outer {
  margin-bottom: 15px;
}

.ev-details .delBtn {
  background-color: red;
  margin: 15px 15px;
}