.events {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.events li {
    padding: 20px;
    margin: 1em;
    border-radius: 4px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.events div {
    margin-top: 0.5em;
}

.event-title {
    font-size: large;
    font-family: cursive;
}

.event-details span {
    margin: 0.5rem;
    font-family: Calibri;
}

.Approved {
    color: lawngreen;
    font-weight: bold;
}

.Rejected {
    color: red;
    font-weight: bold;
}

.Pending {
    color: darkturquoise;
    font-weight: bold;
}